.Card {
    color: rgb(17, 16, 17);
    border-radius: 10px;
    overflow: hidden;
    margin: 0.3em;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    max-width: 20%;
    

}
.Content{
    background-color: rgb(0, 0, 0);
    color: greenyellow;
    padding: 2%;
    flex:1;   
    

}
.Title{
   padding: 1%;
   display: flex;
   justify-content: center;
   font-size: larger;
   font-weight: 800;

}
ul{
    list-style: none;
    }